# Supabase Configuration
# Copia este archivo a .env y completa los valores

NEXT_PUBLIC_SUPABASE_URL=https://osvkthqbjcmqtkmqdevc.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_1QbzSlNF80RZwbRCW_eqQQ_r_ivtvJX
